/*@font-face {
    font-display: swap;
    font-family: canela-l;
    font-weight: 300;
    src: url(../fonts/Canela-Light.woff2) format("woff2"),
         url(../fonts/Canela-Light.woff) format("woff");
}*/