//--COLORS--//
.gray-txt { color: $gray; }
.ltgray-txt { color: $ltgray; }
.black-txt { color: black; }
.white-txt { color: white; }

.gray-bg { background: $gray; }
.ltgray-bg { background: $ltgray; }
.black-bg { background: black; }
.white-bg { background: white; }