$gradientOverlay: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));
$gradientOverlayBlue: linear-gradient(rgba(0,0,0,0) 60%, rgba(13, 82, 177,.65));
$gradientOverlayLight: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.8));