$contentmaxwidth: 1400px;
$headerHeight: 100px;
$stickyHeight: 80px;
$logoWidth: 55px;
$stickyLogoScale: translate3d(0,0,0) scale(.8);
$logoWidthMobile: 320px;
$navFontSize: 12px;
$stickyNavFontSize: 11px;