/*--------------------------------------------------------------
# Vendors (3rd party)
--------------------------------------------------------------*/
@import "vendors/magnific-popup.scss";
@import '~swiper/swiper.min.css';


/*--------------------------------------------------------------
# Mixins/Variables/Etc
--------------------------------------------------------------*/
@import "abstracts/variables/*";
@import "abstracts/mixins/*";


/* Fonts
---------------------------------------------- */
/*@font-face {
	font-family: 'avenir';
	src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
		url('../fonts/AvenirLTStd-Medium.woff') format('woff');
	font-style: normal;
	font-display: swap;
}*/


/*--------------------------------------------------------------
# Normalize/Etc
--------------------------------------------------------------*/
@import "generic/*";


/*--------------------------------------------------------------
# Theme Styles
--------------------------------------------------------------*/
@import "base/base";


/*--------------------------------------------------------------
# Site Components/Sections/Elements
--------------------------------------------------------------*/
@import "layouts/*";
@import "components/*";


/*--------------------------------------------------------------
# Pages/Posts (Custom Styles)
--------------------------------------------------------------*/
@import "pages/*";


/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
@import "utilities/*";

